$yellow: #FFE600;
$lgray: #eeeeee;

body {
    margin: 0;
    background-color: $lgray;
    font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
section{
    display: block;
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1200px;    
} 

@import "./Header/header";
@import "./Breadcrumbs/breadbrumbs";
@import "./ListItems/listItems";
@import "./ItemDetails/itemDetails";
@import "./Mobile/mobile";